.card {
  animation-duration: 3s;
  animation-name: freefall;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #efefef;
  box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
  left: 20%;
  padding: 10px;
  position: fixed;
  top: 10%;
}

@keyframes freefall {
  0% {
    opacity: 0;
    transform: rotate(30deg) scale(1.4);
    box-shadow: 1px 2px 50px rgba(0,0,0,0.1);
  }

  20% {
    opacity: 100%;
  }

  100% {
    transform: rotate(0) scale(1.0);
    box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
  }
}

.caption {
  padding-top: 5px;
}
