.card {
  animation-duration: 3s;
  animation-name: freefall;
  left: 50px;
  position: fixed;
  top: 200px;
}

@keyframes freefall {
  0% {
    opacity: 0;
    transform: rotate(30deg) scale(1.4);
  }

  30% {
    opacity: 100%;
  }

  100% {
    transform: rotate(0) scale(1.0);
  }
}
