@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

html {
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}

.canvas {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.stopStart {
  bottom: 10px;
  color: #1e1e1f;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 2.2px;
  position: fixed;
  right: 14px;
  text-transform: uppercase;
  transition: color 0.5s;
  z-index: 10000;
}

.stopStart:hover {
  color: #DC3630;
  transition: color 1s;
}
